.modal-shade {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
}

.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 20svh;
  min-width: 20svw;
  z-index: 1000;
  border-radius: var(--border-radius-sm);
  background: var(--color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  transform: translate(
    -50%,
    -50%
  ); /* to align back to center of viewport based on height and width of modal */

  .modal-title h3 {
    color: rgb(0, 167, 0);
    margin-top: 0;
  }

  .input {
    width: 100%;
    margin-bottom: 0.25rem;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 100%;

    .button {
      margin: 0 1rem 0 0;
    }
  }
}

@media only screen and (max-width: 666px) {
  .modal-form {
    .actions {
      flex-direction: column;

      .button {
        margin: 0 0 0.25rem 0;
        width: 100%;
      }
    }
  }
}
