.task {
  background: var(--color-light);
  border-radius: var(--border-radius-md);
  min-height: 5rem;
  color: #000;
  padding: 0.5rem;
  position: relative;
  margin-bottom: 0.5rem;

  .deleteButton {
    all: unset; /*this removes all default styling*/
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    background: var(--color-light);
    color: var(--color-danger);
    border: 0.5px solid var(--color-grey-light);
    height: 1.25rem;
    width: 1.25rem;
    border-radius: var(--border-radius-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    cursor: pointer;

    &.planned:hover,
    &.planned:active {
      border: 0.5px solid var(--color-grey-light);
    }

    &.ongoing:hover,
    &.ongoing:active {
      border: 0.5px solid var(--color-ongoing);
    }

    &.done:hover,
    &.done:active {
      border: 0.5px solid var(--color-done);
    }
  }

  .status {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    font-size: small;
    background: var(--color-grey-light);
    padding: 0.25rem;
    border-radius: var(--border-radius-sm);
    font-size: 0.75rem;
    width: 4rem;
    text-align: center;

    &.planned {
      background: var(--color-grey-light);
    }

    &.ongoing {
      background: var(--color-ongoing);
    }

    &.done {
      background: var(--color-done);
    }
  }
}

@media only screen and (max-width: 666px) {
  .task {
    font-size: small;

    .status {
      font-size: x-small;
      width: 3rem;
    }
  }
}
