.task {
  background: var(--color-light);
  border-radius: var(--border-radius-md);
  min-height: 5rem;
  padding: 0.5rem;
  position: relative;
  margin-bottom: 0.5rem;

  &.planned {
    color: var(--color-grey-dark);
  }

  &.ongoing {
    color: var(--color-ongoing-dark);
  }

  &.done {
    color: var(--color-done-dark);
  }

  .deleteButton {
    all: unset; /*this removes all default styling*/
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    background: var(--color-light);
    color: var(--color-danger);
    height: 1.25rem;
    width: 1.25rem;
    font-size: large;
    cursor: pointer;

    & .trash-icon:hover,
    & .trash-icon:active {
      fill: var(--color-danger-dark);
    }
  }

  .status {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    font-size: small;
    background: var(--color-grey-light);
    padding: 0.25rem;
    border-radius: var(--border-radius-sm);
    font-size: 0.75rem;
    width: 4rem;
    text-align: center;

    &.planned {
      background: var(--color-grey-light);
    }

    &.ongoing {
      background: var(--color-ongoing);
    }

    &.done {
      background: var(--color-done);
    }
  }
}

@media only screen and (max-width: 666px) {
  .task {
    font-size: small;

    .status {
      font-size: x-small;
      width: 3rem;
    }
  }
}
