.task {
  background: var(--color-light);
  border-radius: var(--border-radius-md);
  min-height: 5rem;
  color: #000;
  padding: 0.5rem;
  position: relative;
  margin-bottom: 0.5rem;
  font-weight: 600;

  .status {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    font-size: small;
    background: var(--color-grey-light);
    padding: 0.25rem;
    border-radius: var(--border-radius-sm);
    font-size: 0.75rem;
    width: 4rem;
    text-align: center;
    font-weight: 600;

    &.planned {
      background: var(--color-grey-light);
    }

    &.ongoing {
      background: var(--color-ongoing);
    }

    &.done {
      background: var(--color-done);
    }
  }
}
