@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

html {
  background: var(--color-grey);
  font-family: var(--font-family);

  #root {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
  }
}

* {
  box-sizing: border-box;
  font-weight: 600;
}

body {
  padding: 30px 15px;
  margin: 0;
}

.fixed {
  position: fixed;
}
