:root {
  --color-grey: #333;
  --color-grey-dark: #222;
  --color-grey-light: #ccc;
  --color-light: #fff;
  --color-ongoing: #98c1d9;
  --color-ongoing-dark: #113f5b;
  --color-done: #91edae;
  --color-done-dark: #16552a;
  --color-danger: #ff8282;
  --color-danger-dark: #910000;
  --font-family: "Calibri";
  --border-radius-sm: 4px;
  --border-radius-md: 6px;
  --border-radius-lg: 8px;
}
